* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

body {
  background-color: var(--main-color);
}

h1 {
  display: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.text-right {
  text-align: right;
}
