:root {
  --main-color: white;
  --second-color: rgb(245, 250, 244);
  --shadow-color: rgb(78, 75, 75);
  --index-right-side-color: rgb(238, 252, 242);
  --main-font: 20px;
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
  --z-index-5: 5;
}
